# Environment variables / secrets
.env
.env.*
!.env.example

# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

.spotify_host_token_cache/
.spotify_host_token_cache

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.db

# Cache
.cache/
.cache
